<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name = "Author" content="Jennifer Daniels, Nick Barber">
  <title>Cell Database Table</title>
  <link rel="stylesheet" href="static/style/style.css" type="text/css">
 </head>
 <body>
    <H1>Cell Database Table</H1>
    <table>
        <thead>
            <tr>
                <th>Cell ID</th>
                <th>Cell Name</th>
            </tr>
        </thead>
        <tbody>
            {{range .}}
            <tr>
                <td>{{.Id}}</td>

                {{if .Desc.Valid}}
                <td>{{.Desc.String}}</td>
                {{else}}
                <td>NULL</td>
                {{end}}
            </tr>
            {{end}}
        </tbody>
    </table>
 </body>
</html>
