<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name = "Author" content="Jennifer Daniels, Nick Barber">
  <title>User Database Table</title>
  <link rel="stylesheet" href="static/style/style.css" type="text/css">
 </head>
 <body>
    <H1>User Database Table</H1>
    <table data-db-table="Users">
        <thead>
            <tr>
                <th></th>
                <th>User ID</th>
                <th>User Name</th>
            </tr>
        </thead>
        <tbody>
            {{range .}}
            <tr>
                <td><button class="delete-row">delete</button></td>
                <td class="id">{{.Id}}</td>
                <td class="name">{{.Name}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <script type="application/javascript" src="/cs340/static/javascript/delete.js"></script>
 </body>
</html>
